# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Update data & refresh ui

on:
  workflow_dispatch:
  #schedule:
    #- cron: '0 6/8 * * *'

jobs:
  combined-workflow:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'

      - name: Install dependencies
        working-directory: data/
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
          pipenv install

      - name: Get data
        working-directory: data/
        run: python -m pipenv run python main.py --kbuser ${{ secrets.KB_MAIL }} --kbpw ${{ secrets.KB_PW }} --ignore draft_bot Jimmy Alex

      - name: Copy result
        run: cp data/*.json frontend/src/data

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1.2.0

      - name: Install frontend dependencies
        working-directory: frontend/
        run: bun install --frozen-lockfile

      - name: Build frontend
        working-directory: frontend/
        run: bun run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: frontend/dist
          github_token: ${{ secrets.TOKEN }}